<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>1件表示</title>
</head>
<body>

		<form th:action="@{/update}" th:object="${searchOne}" method="post">
			<p th:text="'商品コード：'+ *{code}" ></p>
			<p>商品名：<input type="text" th:field="*{name}" ></p>
			<p>金額：<input type="text" th:field="*{unitPrice}" ></p>
			<p>数量：<input type="text" th:field="*{count}" ></p>
			<p>おすすめフラグ：<input type="text" th:field="*{isPr}" ></p>
			<p th:text="'登録時間：' + *{recordDate}" ></p>
			<button >更新</button> <!-- <button formaction="@{/deleate}">削除</button> -->
		</form>

</body>
</html>